@font-face {
  font-family: 'Px Grotesk Light';
  src: local('Px Grotesk Light'),
  url('../fonts/Px-Grotesk-Light.otf') format('opentype');
  font-display: swap;
}

.checkboxGroupWrapper {
  flex-flow: column nowrap;
}

.checkboxGroupWrapper .ant-checkbox-group-item {
  margin-left: 3px;
}
